* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: black;
    margin: 0;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    border: 2px solid whitesmoke;
    text-align: center;
    width: 504px;
    margin: 2% auto 0 auto;
}

.directions {
    display: flex;
    justify-content: center;
}

.directions > p {
    width: calc(252px * .99);
    border: 2px solid whitesmoke;
    color: whitesmoke;
    text-align: center;
    margin: 1% .5% 0 .5% ;
}

#space {
    width: 504px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    text-align: center;
    margin-top: 1%;
}

canvas {
    border: solid 2px whitesmoke;
    padding: 0;
    margin: auto;
    margin-top: 1%;
    display: block;
    
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 0 1% 1% 0;

}

@media (max-width: 505px) {
    canvas {
        width: 300px;
        height: calc(350px * 3 / 5);
    }

    h1 {
        width: 300px;
    }

    #space {
        width: 300px;
    }

    .directions > p {
        width: calc(150px * .98);
    }
}