* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: black;
    margin: 0;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    border: 2px solid whitesmoke;
    text-align: center;
    width: 504px;
    margin: 2% auto 0 auto;
}

.directions {
    display: flex;
    width: 504px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.directions > p {
    width: 50%;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    text-align: center;
    margin: 1% auto 0 auto;
    padding: 0 1% 0 1%;
}

#space {
    width: 100%;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    text-align: center;
    margin-top: 1%;
}

canvas {
    border: solid 2px whitesmoke;
    padding: 0;
    margin: auto;
    margin-top: 1%;
    display: block;
    
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 0 1% 1% 0;

}

@media (max-width: 505px) {
    canvas {
        width: 300px;
        height: calc(350px * 3 / 5);
    }

    h1 {
        width: 300px;
    }

    #space {
        width: 300px;
    }

    .directions {
        width: 304px
    }

    .directions > p {
        width: 48%;
    }
}